.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: black, $amount: 10);
  border-width: medium;
}

button {
  border-color: darken($color: black, $amount: 10);
}
